
p{
	color:yellow;
	font-size:20px;
}

h3{
	color:red;
	font-size:35px;

}
 
h1{
	font-size:80px;
	color:yellow;
	text-align:center;
	text-shadow: 8px 8px #008000;
}

.uno {
	-webkit-text-stroke: 0.5px #ffffff;
}

.dos {
	-webkit-text-stroke: 0.5px #ffffff;
}

.tres {
	-webkit-text-stroke: 0.5px #ffffff;
}

.cuatro {
	-webkit-text-stroke: 0.5px #ffffff;
}